//----------------------------------------------------//
// FONTS                                              //
//----------------------------------------------------//

/*ARIAL FAMILY*/

@font-face {
  font-family: $main_font;
  src: local('Arial'),
  local('ArialRegular'),
  url("../fonts/ArialRegular/ArialRegular.woff2") format("woff2"),
  url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
  url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}


@font-face {
  font-family: $main_font;
  src: local('ArialBold'),
  url("../fonts/ArialBold/ArialBold.woff2") format("woff2"),
  url("../fonts/ArialBold/ArialBold.woff") format("woff"),
  url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
