//----------------------------------------------------//
// FONTS                                              //
//----------------------------------------------------//

/*HOUSCHKA FAMILY*/

@font-face {
    font-family: 'Houschka Rounded';
    src: local('Houschka Rounded Medium'), local('HouschkaRounded-Medium'),
        url('../fonts/hinted-HouschkaRounded-Medium.woff2') format('woff2'),
        url('../fonts/hinted-HouschkaRounded-Medium.woff') format('woff'),
        url('../fonts/hinted-HouschkaRounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Houschka Rounded';
    src: local('Houschka Rounded Extra Bold'), local('HouschkaRounded-ExtraBold'),
        url('../fonts/hinted-HouschkaRounded-ExtraBold.woff2') format('woff2'),
        url('../fonts/hinted-HouschkaRounded-ExtraBold.woff') format('woff'),
        url('../fonts/hinted-HouschkaRounded-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


