//----------------------------------------------------//
// LAYOUT                                             //
//----------------------------------------------------//
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

//sticky footer
.fixcontent{
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
}

//----------------------------------------------------//
// HEADER                                             //
//----------------------------------------------------//

.header{
  &__main{
    display: flex;
    width: 100%;
    align-items: center;
  }
  &__logo{
    &-wrapper{

    }
    &-link{

    }
  }
  &__nav{

  }
  &__additional{

  }
  &__social{

  }
}

//----------------------------------------------------//
// SIDEBAR                                            //
//----------------------------------------------------//



//----------------------------------------------------//
// FOOTER                                             //
//----------------------------------------------------//

.footer {

}
