/*Fonts*/

$main_font: "Houschka Rounded";
$fix_font: Arial, sans-serif;
$main_font_size: 15px;
$main_line_height: 1.5;

/*Animations*/

$main_animation: all .3s ease-in-out;

/*Colors*/

$white: #ffffff;
$black: #231f20;
$red: #ed1c24;
$font-primary: #0d80c1;
$font-active: #e71684;
$slider-button: #3090c0;

$hamburger-top: #169bbf;
$hamburger-middle: #a35db5;
$hamburger-bottom: #ef519a;