/*Fonts*/

$main_font: "Arial";
$fix_font: Arial, sans-serif;
$main_font_size: 15px;
$main_line_height: 1.5;

/*Animations*/

$main_animation: all .3s ease-in-out;

/*Colors*/

$black: #231f20;
$red: #ed1c24;